body {
  background-color: #333;
  color: #ccc;

}

.top {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.namePlate {
  width: 100%;
  margin-top: 40vh;
  display: flex;
  justify-content: flex-start;

  padding-left: 3rem;
}

.nameDiv * {
  padding: 0;
  margin: 0;
}


